.App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, #424242, #171616);
    height: 100vh;
    margin: 0 auto;
}

.app-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px yellowgreen solid;
    width: 50%;
}
